.App {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input{
  font-size: 50px;
}

#timer_buttons{
  display: flex;
  flex-direction: column;
  width: 60px;
}

#control{
  display: flex;
  flex-direction: row;
}

#timer{
  font-size: 50px;
}

.box{
  /* border-color: crimson; */
  /* border-style: solid; */
  border-radius: 10%;
  background-color: #CDEBF9;
  padding: 10px;
  height: 200px;
  width: 200px;
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addrm_timer{
  /* display: inline-block; */
  margin: 50px;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #9faff3;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#addrm_timer:hover {background-color:#7289ed}

#addrm_timer:active {
  background-color: #7289ed;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*FOR TRIGGER SLIDER BUTTON*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 51px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 39px;
  width: 39px;
  left: 6px;
  bottom: 6px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(39px);
  -ms-transform: translateX(39px);
  transform: translateX(39px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 51px;
}

.slider.round:before {
  border-radius: 50%;
}